*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.zip
*.log
*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.scvd
*.tmp
*.emSess*
*.jdebu*
**/arm/JLinkLog.txt
**/_viminfo
**/_vimtags
**/_build/
**/Output/
JLinkLog.txt
IDE/armcc/_build/
IDE/armgcc/_build/
IDE/armcc/RTE/
IDE/iar/nrf52832_xxaa/
IDE/ses/nrf52832_xxaa/
settings/